<!-- 头部文件 -->
<include file="Public/header" />  
<!-- 左侧菜单 -->
<include file="Public/left_menu" />        
<!-- 左侧菜单 -->
<include file="Public/top" />
            
<div class="content-box"><!-- Start Content Box -->        
<div class="content-box-header">                    
    <h3>域名列表</h3>                                   
    <div class="clear"></div>                    
</div> <!-- End .content-box-header -->
     
     <div class="content-box-content">
         
         <div class="tab-content default-tab" id="tab1">              
             <table>                 
                 <thead>
                     <tr>
                        <th>名称</th>
                        <th>域名</th>
                        <th>跳转至域名</th>
                        <th>添加时间</th>
                        <th>结束时间</th>                        
                        <th>操作</th>
                     </tr>  
                     <form id="search_domain" action="?" method="get">
                     <input type="hidden" id="action" name="action" value="" />
                     <div class="bulk-actions align-left">
                        名称：
                        <input class="text-input small-input" type="text" id="name" name="name" value="<?php echo I('get.name'); ?>" />
                        域名：
                        <input class="text-input small-input" type="text" id="domain" name="domain" value="<?php echo I('get.domain'); ?>" />
                        <input type="submit" class="button" value="搜索">  
                        <?php if ( I('get.name') || I( 'get.domain' ) ) { ?>
                        <a class="button" href="{:U('Domain/domain_list')}"> 撤销 </a>   
                        <?php } ?>      
                     </div>  
                     </form>                 
                 </thead>

                 <tbody>
                    <?php foreach ( $domain_list as $k => $domain ) { ?> 
                     <tr>
                         <td> <?php echo $domain['name']; ?> </td>
                         <td>
                             <a href="http://<?php echo $domain['domain']; ?>" target="_blank">
                                <?php echo $domain['domain']; ?>
                             </a>
                         </td>
                         <td> <?php echo $domain['jump_domain']; ?> </td>
                         <td> <?php echo date( 'Y-m-d H:i:s', $domain['add_time'] ); ?> </td>        
                         <td> <?php echo date( 'Y-m-d', $domain['end_time'] ); ?> </td>
                         <td>
                              <a href="{:U( 'Domain/edit', array( 'domain_id' => $domain['domain_id'] ) )}" title="Edit"><img src="__PUBLIC__/Admin/images/icons/pencil.png" alt="Edit" /></a>
                         </td>
                     </tr>
                     <?php } ?>
                 </tbody>
                 
                 <tfoot>
                     <tr>
                         <td colspan="6">    
                            <div class="bulk-actions align-left">
                                <a class="button" onclick="export_excel();" >导出Excel</a>
                            </div>                         
                             <div class="pagination">
                             <?php echo $page; ?>
                             </div>
                             <div class="clear"></div>
                         </td>
                     </tr>
                 </tfoot>
             </table>
             
         </div> <!-- End #tab1 -->
         
     </div> <!-- End .content-box-content -->   
       
</div> <!-- End .content-box -->    

<script type="text/javascript">
    function export_excel()
    {
        $('#action').val( 'export' );
        $('#search_domain').submit();
    }
</script>

<!-- 底部文件 -->
<include file="Public/footer" />