<body>

    <div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->

       <div id="sidebar">

        <div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->
            
            <h1 id="sidebar-title"><a href="#"> {:C('WEB_NAME')} </a></h1>
          
            <!-- Logo (221px wide) -->
            <a href="#"><img id="logo" src="__PUBLIC__/Admin/images/logo.png" alt="Simpla Admin logo" /></a>
          
            <!-- Sidebar Profile links -->
            <div id="profile-links">
                您好, <a href="#" title="Edit your profile"> {:session('user_info.user_name')} </a>,<br /> 
                欢迎登陆{:C('WEB_NAME')}<br /><br />                
                <a href="#" title="View the Site">修改密码</a> | 
                <a href="{:U('Login/logout')}" title="Sign Out">退出</a>
            </div>        
            
            <ul id="main-nav">  <!-- Accordion Menu -->
                
                <li>
                    <a href="#" class="nav-top-item no-submenu"> <!-- Add the class "no-submenu" to menu items with no sub menu -->
                        首页
                    </a>       
                </li>
                
                <li> 
                    <a href="#" class="nav-top-item current"> <!-- Add the class "current" to current menu item -->
                    文章
                    </a>
                    <ul>
                        <li><a href="#">新建文章</a></li>
                        <li><a class="current" href="#">管理文章</a></li> <!-- Add class "current" to sub menu items also -->
                        <li><a href="#">管理评论</a></li>
                        <li><a href="#">管理分类</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="#" class="nav-top-item">
                    页面
                    </a>
                    <ul>
                        <li><a href="#">创建新页面</a></li>
                        <li><a href="#">管理页面</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="#" class="nav-top-item">
                        图片相册
                    </a>
                    <ul>
                        <li><a href="#">上传图片</a></li>
                        <li><a href="#">管理相册</a></li>
                        <li><a href="#">管理图片</a></li>
                        <li><a href="#">相册设置</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="#" class="nav-top-item">
                        活动日历
                    </a>
                    <ul>
                        <li><a href="#">日历查看</a></li>
                        <li><a href="#">添加活动</a></li>
                        <li><a href="#">日历设置</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="#" class="nav-top-item">
                        设置
                    </a>
                    <ul>
                        <li><a href="#">角色添加</a></li>
                        <li><a href="#">用户管理</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">用户权限</a></li>
                    </ul>
                </li>      
                
            </ul> <!-- End #main-nav -->
            
            <div id="messages" style="display: none"> <!-- Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"  -->
                
                <h3>30000 条消息</h3>
             
                <p>
                    <strong>17th May 2009</strong> by Admin<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue.
                    <small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
                </p>
             
                <p>
                    <strong>2nd May 2009</strong> by Jane Doe<br />
                    Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
                    <small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
                </p>
             
                <p>
                    <strong>25th April 2009</strong> by Admin<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue.
                    <small><a href="#" class="remove-link" title="Remove message">Remove</a></small>
                </p>
                
                <form action="" method="post">
                    
                    <h4>New Message</h4>
                    
                    <fieldset>
                        <textarea class="textarea" name="textfield" cols="79" rows="5"></textarea>
                    </fieldset>
                    
                    <fieldset>
                    
                        <select name="dropdown" class="small-input">
                            <option value="option1">Send to...</option>
                            <option value="option2">Everyone</option>
                            <option value="option3">Admin</option>
                            <option value="option4">Jane Doe</option>
                        </select>
                        
                        <input class="button" type="submit" value="发送" />
                        
                    </fieldset>
                    
                </form>
                
            </div> <!-- End #messages -->
            
        </div></div> <!-- End #sidebar -->