<div id="main-content"> <!-- Main Content Section with everything -->

</noscript>

<!-- Page Head -->
<h2>欢迎回来 {:session('user_info.user_name')}</h2>
<p id="page-intro">What would you like to do?</p>

<ul class="shortcut-buttons-set">
    
    <li><a class="shortcut-button" href="#"><span>
        <img src="__PUBLIC__/Admin/images/icons/pencil_48.png" alt="icon" /><br />
        新建文章
    </span></a></li>
    
    <li><a class="shortcut-button" href="#"><span>
        <img src="__PUBLIC__/Admin/images/icons/paper_content_pencil_48.png" alt="icon" /><br />
        创建页面
    </span></a></li>
    
    <li><a class="shortcut-button" href="#"><span>
        <img src="__PUBLIC__/Admin/images/icons/image_add_48.png" alt="icon" /><br />
        上传文件
    </span></a></li>
    
    <li><a class="shortcut-button" href="#"><span>
        <img src="__PUBLIC__/Admin/images/icons/clock_48.png" alt="icon" /><br />
        添加活动
    </span></a></li>
    
    <li><a class="shortcut-button" href="#messages" rel="modal"><span>
        <img src="__PUBLIC__/Admin/images/icons/comment_48.png" alt="icon" /><br />
        打开对话框
    </span></a></li>
    
</ul><!-- End .shortcut-buttons-set -->

<div class="clear"></div> <!-- End .clear -->