<!-- 头部文件 -->
<include file="Public/header" />  
<!-- 左侧菜单 -->
<include file="Public/left_menu" />        
<!-- 左侧菜单 -->
<include file="Public/top" />

    <div class="notification success png_bg">
        <a href="#" class="close"><img src="__PUBLIC__/Admin/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
        <div>
            生命是一段漫长的旅程。
        </div>
        <div> 想了，就去做。 </div>
        <div> 输了，从头再来。 </div>
        <div> 摔了，爬起来继续。 </div>
        <div> 赢了，还要再往前走。 </div>
        <div> 死了，没留下任何遗憾。 </div>


    </div>
            
<!-- 底部文件 -->
<include file="Public/footer" />
